* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:slategray;
    font-size: 25px;
}

header {
    text-align:center;
    padding: 20px;
    font-size: 30px;
    color:black;
    background-color: rgb(206, 227, 235);
    justify-content: center; 
}

.products {
    justify-content:left;
    color: white;
}

nav {
    font-size: 20px;
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

@media all and (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align:center;
    }
}

nav ul li:hover {
    background-color: #555;
    color: white;
}

.row {
    display:flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex:50%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
}

.thumbnail:hover {
    position:relative;
    transform: scale(1.5, 1.5);
}

.aboutme img {
    width:400px;
    height: auto;
    border-style: solid;
    border-width: 10px;
    border-color:white;
}

.projects img {
    width: 400px;
    height: auto;
    align-content: center;
    border-style: solid;
    border-width: 10px;
    border-color:white;
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}




